<header>
	<section class="banner">
		<div class="brand">
			<a href="javascript:void()">
        		<img src="/assets/images/logo_tiny.png" alt="logo" />
			</a>
		</div>
		<nav>
			<!--a class="button icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_uber">Subscribe!</span></a-->
		</nav>
	</section>
</header>